<!-- Begin page -->
<div *ngIf="currentUser && currentProfile" id="wrapper">
    <app-side-bar></app-side-bar>
    <div class="page-wrapper">
        <section class="pt-5">
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <!-- Content-->
                            <div class="col-12">
                                <!-- Post-->
                                <article class="post">
                                    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase">
                                        <b>User</b>
                                    </h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentUser.emailAddress" disabled type="text" placeholder="Email Address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentUser.firstName" type="text" placeholder="First Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentUser.lastName" type="text" placeholder="Last Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group text-right">
                                                <button (click)="onClickSaveUser()" class="btn btn-dark">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Post end-->
                                <!-- Post-->
                                <article class="post">
                                    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase">
                                        <b>Profile</b>
                                    </h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentProfile.name" disabled type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentProfile.contactDetails.emailAddress" type="text" placeholder="Email Address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentProfile.contactDetails.phoneNumber" type="text" placeholder="Phone Number" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentProfile.address.city" type="text" placeholder="City" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input [(ngModel)]="currentProfile.address.country" type="text" placeholder="Country" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea [(ngModel)]="currentProfile.description" class="form-control" rows="4">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea [(ngModel)]="currentProfile.message" class="form-control" rows="4">
                                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group text-right">
                                                <button (click)="onClickSaveProfile()" class="btn btn-dark">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Post end-->
                            </div>
                            <!-- Content end-->
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </div>
        </section>
    </div>
</div>