<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
  <div id="main">
    <div class="inner">
      <app-header></app-header>
      <!-- Section -->
      <section>
        <h3>User</h3>
        <div *ngIf="currentUser" class="row uniform">
          <div class="6u$ 12u$(xsmall)">
            <label>Email Address</label>
            <input [(ngModel)]="currentUser.emailAddress" disabled type="text" placeholder="Email Address">
          </div>
          <div class="6u 12u$(xsmall)">
            <label>First Name</label>
            <input [(ngModel)]="currentUser.firstName" type="text" placeholder="First Name">
          </div>
          <div class="6u$ 12u$(xsmall)">
            <label>Last Name</label>
            <input [(ngModel)]="currentUser.lastName" type="text" placeholder="Last Name">
          </div>
          <div class="12u$ 12u$(xsmall)">
            <button (click)="onClickSaveUser()" class="button special small fit">Save</button>
          </div>
        </div>
      </section>
      <!-- Section -->
      <section>
        <h3>Profile</h3>
        <div *ngIf="currentProfile" class="row uniform">
          <div class="6u$ 12u$(xsmall)">
            <label>Name</label>
            <input [(ngModel)]="currentProfile.name" disabled type="text" placeholder="Name">
          </div>
          <div class="6u 12u$(xsmall)">
            <label>Email Address</label>
            <input [(ngModel)]="currentProfile.contactDetails.emailAddress" type="text" placeholder="First Name">
          </div>
          <div class="6u$ 12u$(xsmall)">
            <label>Phone Number</label>
            <input [(ngModel)]="currentProfile.contactDetails.phoneNumber" type="text" placeholder="Last Name">
          </div>
          <div class="6u 12u$(xsmall)">
            <label>City</label>
            <input [(ngModel)]="currentProfile.address.city" type="text" placeholder="First Name">
          </div>
          <div class="6u$ 12u$(xsmall)">
            <label>Country</label>
            <input [(ngModel)]="currentProfile.address.country" type="text" placeholder="Last Name">
          </div>
          <div class="12u$ 12u$(xsmall)">
            <label>Description</label>
            <textarea [(ngModel)]="currentProfile.description" rows="4">
            </textarea>
          </div>
          <div class="12u$ 12u$(xsmall)">
            <label>Message</label>
            <textarea [(ngModel)]="currentProfile.message" rows="4">
              </textarea>
          </div>
          <div class="12u$ 12u$(xsmall)">
            <button (click)="onClickSaveProfile()" class="button special small fit">Save</button>
          </div>
        </div>

      </section>
    </div>
  </div>
  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">
      <!-- Search -->
      <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section>
      <!-- Menu -->
      <nav *ngIf="profile" id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li>
            <a [routerLink]="['/', profile.name, 'profile']" href="#">My Profile</a>
          </li>
          <li>
            <a href="#">Explore</a>
          </li>
        </ul>
      </nav>
      <app-recent-videos></app-recent-videos>
      <app-get-in-touch></app-get-in-touch>
      <app-footer></app-footer>
    </div>
  </div>
</div>