<!-- Top Bar Start -->
<div *ngIf="profile" class="topbar-mobile">
  <div class="logo">
    <a [routerLink]="['/', profile.name]">
      <span style="font-family: Goudy Stout; font-size: 1em; color: black;">{{ user?.firstName }} {{ user?.lastName }} </span>
    </a>
    <button class="button-menu-mobile">
      <i class="mdi mdi-menu"></i>
    </button>
  </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div *ngIf="profile" class="left side-menu">
  <div class="slimscroll-menu" id="remove-scroll">
    <div class="logo">
      <a [routerLink]="['/', profile.name]">
        <span style="font-family: Goudy Stout; font-size: 1em; color: black;">{{ user?.firstName }} {{ user?.lastName }} </span>
      </a>
      <p class="text-muted">Opportunities don't happen. You create them. ~ Chris Grosser</p>
    </div>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu" id="side-menu">
        <li>
          <a [routerLink]="['/', profile.name]" href="#">Home</a>
        </li>
        <li>
          <a [routerLink]="['/', profile.name, 'profile']" href="#">My Profile</a>
        </li>
        <li>
          <a href="#">Explore</a>
        </li>
        <li>
          <a [routerLink]="['/', profile.name, 'my-videos']">My Videos</a>
        </li>
      </ul>
      <app-footer></app-footer>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->