<!-- Begin page -->
<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div class="page-wrapper">
      <section>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="page-title">
                          <div class="row">
                              <div class="col-md-9 col-xs-12">
                                  <h2><span>{{ user?.firstName }} {{ user?.lastName }}</span></h2>
                                  <p class="subtitle text-muted">
                                    {{ profile?.description }}
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="mt-5 pb-5">
          <div class="container">
              <div class="row">
                  <!-- Content-->
                  <div class="col-xl-8">
                      <!-- Post-->
                      <article *ngFor="let video of videos" class="post">
                          <div class="post-header">
                              <h2 class="post-title"><a [routerLink]="['/', profile.name, 'watch', video.id]">{{ video.title }}</a></h2>
                              <ul class="post-meta">
                                  <li><i class="mdi mdi-calendar"></i> {{ video.datePublished | date: 'MMMM dd, yyyy' }}</li>
                              </ul>
                          </div>
                          <div class="post-preview">
                              <a [routerLink]="['/', profile.name, 'watch', video.id]"><img src="{{ apiUri }}/video/thumbnail/stream?id={{ video.id }}" alt="" class="img-fluid rounded"></a>
                          </div>
                          <div class="post-content">
                              <p>
                                {{ video.shortDescription }}
                              </p>
                          </div>
                          <div><a [routerLink]="['/', profile.name, 'watch', video.id]" class="btn btn-outline-custom">Watch Now <i class="mdi mdi-arrow-right"></i></a></div>
                      </article>
                      <!-- Post end-->
                  </div>
                  <!-- Content end-->
                  <!-- Sidebar-->
                  <div class="col-xl-4">
                      <div class="sidebar">
                          <!-- Search widget-->
                          <aside class="widget widget_search">
                              <form>
                                  <input class="form-control pr-5" type="search" placeholder="Search...">
                                  <button class="search-button" type="submit"><span class="mdi mdi-magnify"></span></button>
                              </form>
                          </aside>
                          <aside class="widget about-widget">
                              <div class="widget-title">About Me</div>

                              <div class="text-center">
                                  <p>
                                    {{ profile?.message }}
                                  </p>
                              </div>

                          </aside>
                          <app-recent-videos></app-recent-videos>
                      </div>
                  </div>
                  <!-- Sidebar end-->
              </div>
          </div>
          <!-- end container -->
      </section>
  </div>
</div>
