<!-- Header -->
<header id="header">
  <a href="/" class="logo">
    <strong>{{ user.firstName }} {{ user.lastName }}</strong> at The Video Sharing Platform</a>
  <ul class="icons">
    <li>
      <a href="{{ profile.socialDetails.facebook }}" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="{{ profile.socialDetails.instagram }}" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a href="{{ profile.socialDetails.twitter }}" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
  </ul>
</header>